@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-bg text-textMain antialiased font-sans m-0 overflow-hidden;
  }
}

@layer components {
  /* Scrollbar styling for a premium feel */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
